<div class="navbar navbar-default navbar-fixed-bottom footer" >
      <ul class="nav navbar-nav visible-xs-block">
          <li><a class="text-center collapsed" data-toggle="collapse" data-target="#footer"><i class="icon-circle-up2"></i></a></li>
      </ul>

      <div id="footer" class="navbar-collapse collapse">

          <div id="footer-sefin" class="navbar-left">
              <img width="64" height="85" class="pull-left" src="//cdn.sefin.ro.gov.br/layout/assets/images/brasao_estado.png">
              <div id="footer-sefin-text" class="pull-left">
                  <h3>SEFIN</h3>
                  <p>Governo do Estado de Rondônia</p>
                  <p>Secretaria de Estado de Finanças</p>
              </div>
          </div>

          <div class="navbar-right">
              <p id="footer-sefin-creditos">
                  Desenvolvido por
                  <a href="#" class="navbar-link" target="_blank">GETIC/SEFIN</a>
                  © 2021
              </p>
            <p></p>
          </div>
      </div>
  </div>